body {background-color: grey;
}
img {width: 500px;
}
h2{text-align: center;}
.narracion{color: black;
}
.dialogo{color: black;
}
header{color: rgb(94, 4, 4);
text-align: center;
}
nav{color:aqua;
}
footer{color: aqua;}